
*.o

*.DS_Store

*.plist

shestavin/*

*avmsim-gui-build-desktop-Desktop_Qt_4_7_4_for_GCC__Qt_SDK__Debug*

*avmsim-build-desktop-Desktop_Qt_4_7_4_for_GCC__Qt_SDK__Debug*
saveliev/avmsim-gui/interfaceimpl.h
